<div class="txt-shine"><h1 class="big-text">All Users (<%= @users.size %>)</h1></div>
    <br />
    <br />
<div class="table-responsive">
    <table class="table table-dark table-striped table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Name</th>
        <th>Image</th>
        <th>Roles</th>
        <th></th>
        <th colspan="2">Admin Actions</th>
      </tr>
    </thead>
  
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.id, user_path(user), :class => "btn btn-sm btn-outline-secondary" %></td>
          <td><%= user %></td>
          <td><%= user.name %></td>
          <td>
            <% if user.image.present? %>
              <%= image_tag user.image, size: "20x20" %>
            <% end %>
          </td>
          <td><%= user.active_roles.join(", ") %></td>
          
          <td>
          <td>
              <%= link_to "Edit", edit_user_path(user), class: "btn btn-sm btn-outline-secondary" %>
              <%= link_to ban_status(user), ban_user_path(user), method: :patch, class: "btn btn-sm btn-outline-danger" %>
              <%= link_to "Delete", user, method: :delete, data: {confirm: "Are you sure"}, class: "btn btn-sm btn-outline-danger" %>
          </td>
        </tr>
      <% end %>
      
    </tbody>
  </table>
</div>
</div>
