<div class="card text-white" style="background: #30363d;">
  <div class="card-header">
    <h2>Forgot Your Password?</h2>
  </div>

  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "Email:" %>
  </div>
  <br />

  <div class="actions">
    <%= f.submit "Send Me Reset Password Instructions", :class => "btn btn-primary" %>
  </div>
  <% end %>
  </div>

  <div class="card-footer">
    <%= link_to "Sign In",  new_user_session_path, :class => "btn btn-secondary" %>
    <%= link_to "Sign Up",  new_user_registration_path, :class => "btn btn-secondary" %>
    <%= link_to "Didn't Receive Confirmation Instructions?", new_confirmation_path(resource_name), :class => "btn btn-dark" %><br />
  </div>

</div>



