<div class="card text-black bg-dark">
  <div class="card-header text-white" style="background: #30363d;">
<h2><%= t "devise.invitations.new.header" %></h2>

<%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <% resource.class.invite_key_fields.each do |field| -%>
    <div class="field">
    <br />
      <%= f.label field %><br />
      <br />
      <%= f.text_field field %>
    </div>
  <% end -%>
  <br />
</div>

<div class="card-footer bg-dark">
    <div class="actions">
      <%= f.submit t("devise.invitations.new.submit_button"), :class => "btn btn-secondary" %>
    </div>
    <% end %>
    </div>
</div>
