<!DOCTYPE html>
<html>
  <head>
    <title>Auther</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= render "layouts/messages" %>
    <div class="container">
      <br />

      <%= yield %>

       <!-- Footer -->
      <div class="footerWrap">
        <div class="footer">
          <div class="footerContent">
            <p><strong>&copy; 2021 <a href="https://github.com/Roeck/Auther">Auther</strong></p>
          </div> 
        </div>
      </div>
    </div>
  </body>
</html>
