<!DOCTYPE html>
<html>
  <head>
    <title>Auther</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= render "layouts/messages" %>
    <div class="container">
      <br />

      <%= yield %>

       <!-- Footer -->
       
      <footer class="text-center text-lg-start bg-light text-muted">
            
        <!-- Copyright -->
        <a href="" class="me-4 text-reset text-center">
              <i class="fab fa-linkedin text-center"></i>
            </a>
            <a href="https://github.com/Roeck" class="me-4 text-reset text-center">
              <i class="fab fa-github text-center"></i>
            </a>
                  <div class="text-reset fw-bold text-center">
                    rons9n@gmail.com
                  </div>
              </div>
            </div>
          </div>

        <div class="text-center text-reset fw-bold p-4" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2021 Copyright
          <a class="text-reset fw-bold" href="https://github.com/Roeck/Auther">Auther</a>
        </div>
      </footer>
    </div>
  </body>
</html>
